<div class="main record">
 <h3>予約ルーム一覧</h3>
  <div class="room-list">
    <table>
      <tbody>
        <thead>
          <tr class="room-item">
            <td>ルーム画像</td> 
            <td>ルーム名</td> 
            <td>金額</td>
            <td>開始日</td>　
            <td>終了日</td>
            <td>予約確定日時</td>
          </tr>
          </thead>
          <% @reservations.each do |reservation| %>
           <tr>
              <td><%= image_tag "/room_images/#{reservation.room.image_name}" %></td>
              <td><%= reservation.room.name %></td>
              <td><%= reservation.total_price %>円</td>
              <td><%= reservation.start_at.to_s(:datetime_jp) %></td>
              <td><%= reservation.finish_at.to_s(:datetime_jp) %></td>
              <td><%= reservation.created_at.to_s(:datetime_jp) %></td>
           </tr>
          <% end %>
      </tbody>
    </table>
</div>